{% load static %} <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
        <img src="{% static 'images/logo.svg' %}" alt="logo">

        <h1><a href="{% url 'post_list' %}">Portfólio Pessoal - Lucca Kherlakian</a></h1>

        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">Home</a></li>
                <li><a href="{% url 'category_list' %}">Categorias</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright 2025 Lucca</p>
    </footer>

</body>
</html>