{% extends 'base.html' %}

{% block content %}
    <h2>Posts na Categoria: {{ category.nome }}</h2>
    <hr>

    <p><a href="{% url 'post_create' %}">Criar Novo Post</a></p>
    <hr>

    {% for post in category.post_set.all %}
        <article>
            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.titulo }}</a></h3>
            <p>{{ post.data_postagem|date:"d M Y" }}</p>
        </article>
    {% empty %}
        <p>Ainda não há posts nesta categoria.</p>
    {% endfor %}

{% endblock %}